@using BlazorSensorDashboard.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using System.Reactive.Disposables;
@using System.Reactive.Linq; 
@inject HubStreamSubscriptionService HubStreamSubscription
@inject ConfigurationService ConfigurationService
@implements IDisposable

<div class="card-footer">
    <!-- class is a hack to trigger the css animation -->
    <p>Min:<span class="updatecolorbase @MinClass">@(MinValue?.ToString("0.00") ?? "-")</span>@Units Max:<span class="updatecolorbase @MaxClass">@(MaxValue?.ToString("0.00") ?? "-")</span>@Units</p>
</div>

@code {

    [Parameter]
    public DashboardConfigItem dashboardConfigItem { get; set; }

    double? MinValue { get; set; } = null;
    double? MaxValue { get; set; } = null;
    string MinClass { get; set; } = "updatecolor"; // hack to get css transitions to work
    string MaxClass { get; set; } = "updatecolor"; // hack to get css transitions to work
    string Units { get; set; } = "-";

    IDisposable subscriptions;


    protected override Task OnInitializedAsync()
    {
        SubscribeStream();
        return Task.CompletedTask;
    }


    private void SubscribeStream()
    {
        var sharedSubscription = HubStreamSubscription.SubscribeStream("StartListening", dashboardConfigItem.SensorName)
            .Select(x =>
            {
                bool updated = false;
                if (MinValue == null || MaxValue == null)
                {
                    updated = true;
                }
                else if (x.Value < MinValue || x.Value > MaxValue)
                {
                    updated = true;
                }
                return new { updated, Item = x };
            })
            .Publish();

        var sensorReadingSubscription = sharedSubscription
        .Subscribe(x =>
        {
            var item = x.Item;
            bool changed = false;
            if (MinValue == null)
            {
                MinValue = item.Value;
                changed = true;
            }
            if (MaxValue == null)
            {
                MaxValue = item.Value;
                changed = true;
            }
            if (item.Value < MinValue)
            {
                MinValue = item.Value;
                MinClass = "updatecolor";
                changed = true;
            }
            if (item.Value > MaxValue)
            {
                MaxValue = item.Value;
                MaxClass = "updatecolor";
                changed = true;
            }
            if (changed)
            {
                StateHasChanged();
            }
        });

        // hack to get css trnsitions to work
        var sensorReadingUpdatedSubscription = sharedSubscription
            .Where(x => x.updated)
            .Throttle(TimeSpan.FromSeconds(1))
            .Subscribe(item =>
            {
                MinClass = "updatecolorreset";
                MaxClass = "updatecolorreset";
                StateHasChanged();
            }
            );

        var connectDisposable = sharedSubscription.Connect();

        var configurationSubcription = ConfigurationService.GetConfig()
            .Subscribe(config =>
            {
                var foundItem = config.FirstOrDefault(x => x.Name == dashboardConfigItem.SensorName);
                if (foundItem != null)
                {
                    Units = foundItem.SensorUnits;
                    StateHasChanged();
                }
            });

        subscriptions = new CompositeDisposable(sensorReadingSubscription, configurationSubcription, sensorReadingUpdatedSubscription, connectDisposable);
    }

    public void Dispose()
    {
        subscriptions?.Dispose();
    }
}
